<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout.html">
	<head>
		<title>Liste des sopramons</title>
	</head>
	
	
	<body>
		<h1 layout:fragment="custom-title">Liste des sopramons</h1>
		
		<div layout:fragment="custom-content">
			<table id="sopramons" class="table table-striped">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Nom d'utilisateur</th>
						<th scope="col">Expérience</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="sopramon : ${ sopramons }">
						<td th:text="${ sopramon.id }"></td>
						<td th:text="${ sopramon.username }"></td>
						<td th:text="${ sopramon.experience }"></td>
					</tr>
				</tbody>
			</table>
	    </div>
	</body>
</html>